

@-webkit-keyframes float {
  0% {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 0 7px #fff);
    -webkit-transform: translatey(-27px);
            transform: translatey(-27px);
  }
  100% {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(0 0 2px #fff);

    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 0 7px #fff);
    -webkit-transform: translatey(-27px);
            transform: translatey(-27px);
  }
  100% {
    filter: drop-shadow(0 0 2px #fff);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
.container {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {

  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.avatar img {
  z-index: 1;
  height: 50vh;
  width: 50vh;
  height: auto;
}

.content {
  z-index: 1;
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}
