/*this css has both the noise wallpaper animation & the flex columns for the text*/

.main-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;


  height: 100vh;
  background: #070707;
  color: #fff;
}



.main-content::before {
  content: "";
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("noise2.png"); /* https://anatacreative.com/codepen/noise.png */
  -webkit-animation: 1s infinite noise;
          animation: 1s infinite noise;
  pointer-events: none;
}

@-webkit-keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
.main-title {
  z-index: 10;
  font-weight: 400;
  font-size: 2.3vw;
  margin-right: 5%;
  margin-left: 50%;
  color: #ffffff;
  background: #303030;
  border-style: solid;
  border-color: #303030;
  padding-left: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.link {
  display: inline-block;
  padding: 1em 1em;
  color: #4c2298;
  line-height: 1;
  background: #794fc5;

  transition: color .3s ease, background .3s ease;
}
.link:hover, .link:focus {
  background: #4c2298;
  color: #794fc5;
}


/* link animation and stuff */

a:visited {color:#ffffff;}


.text-link {
  position: relative;
  display: inline-block;



}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  animation: glitchy 0.3s ease infinite reverse;
}
.line-link {
  position: relative;
  display: inline-block;
  font-size: 24px;

  letter-spacing: 0.1em;
  color: #fff;
  font-weight: lighter;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  padding-bottom: 10px;
}
.line-link:before,
.line-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  visibility: hidden;
}
.line-link:before {
  background-color: #00ffff;
  z-index: -1;
}
.line-link:after {
  background-color: #ff00ff;
  z-index: -2;
}
.line-link:hover:before {
  visibility: visible;
  -webkit-animation: line-glitchy 0.3s ease 0.3s infinite;
          animation: line-glitchy 0.3s ease 0.3s infinite;
}
.line-link:hover:after {
  visibility: visible;
  animation: line-glitchy 0.3s ease infinite reverse;
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
